<div class="header"></div>
<div class="img-flex" ></div>
<h1 class="text-center">OUR TOURS</h1>
<div class="tour-container">
  <div class="thumbnail">
    <img src="../../assets/images/0.jpg" class="img" />
  </div>
  <div class="thumbnail">
    <img src="../../assets/images/0.jpg" class="img" />
  </div>
  <div class="thumbnail">
    <img src="../../assets/images/0.jpg" class="img" />
  </div>
  <div class="thumbnail">
    <img src="../../assets/images/0.jpg" class="img" />
  </div>
  <div class="thumbnail">
    <img src="../../assets/images/0.jpg" class="img" />
  </div>
</div>
