.img-flex {
  background-image: url('../../assets/images/4.jpg');
}
.tour-container {
  display: flex;
  width: 1280px;
  margin: 0 auto 80px auto;
  flex-wrap: wrap;
}
.thumbnail {
  cursor: pointer;
  width: 350px;
  height: 320px;
  margin: 38px;
  border-radius: 12px;
  overflow: hidden;

  .img {
    width: 350px;
    min-height: 320px;
    height: auto;
  }

  &:hover {
    .img {
      transition: all 1s ease;
      transform: scale(1.2);
    }
  }
}
