<div class="header"></div>
<div class="img-flex"></div>
<div class="component">
  <h1 class="mb-4">OUR STORY</h1>
  <p>
    With almost a decade of experience and many more in the industry, we understand that each of our guests are unique, with their own tastes and interests – what works for one person isn’t always the best for another. We are passionate about getting to know each of our customers, to really gain an understanding of their likes and dislikes and so to match them with the perfect combination of experiences and hotels. We believe that luxury travel is about more than opulent hotels; it’s about new experiences, stepping off the usual tourist circuit in order to embrace something more rewarding. From steering off the beaten the beaten track in the countryside, to experiencing a the festival of Diwali with a local family, we can help you really embrace the rich culture of Rajasthan, revealing its beauty and many of its hidden gems in unforgettable ways.
  </p>
  <p>
    We’re based in the capital city of New Delhi and have additional offices through Rajasthan and north India.
    </p>
  <p>
    Our guests are mostly private individuals, who have always dreamt of travelling to India but who realise the amount of planning required. They recognise that their time is their most precious asset and that they want to entrust it to experts with a well proven track record. We’re an intentionally small organisation. We send only a handful of guests a month on tour to Rajasthan. We have deliberately chosen to remain small so that we can look after our guests to the best of our ability and enjoy the process as we go along. For us, Indian Excursions just wouldn’t be the same otherwise.
  </p>
  <p>
    For a better understanding of what it’s like to explore Rajasthan with us, please do take a look at our recent reviews by clicking here. The vast majority of our past guests are very happy to share their experiences with you via telephone or email, so please do not hesitate to ask if you’d like to contact past customers from your country. Most of our guests are from English-speaking countries such as the US, UK and Australia, but we are delighted to welcome people from across the globe to India.
  </p>
</div>
