header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 0 200px;
  transition: .4s;

  h2 {
    color: lightgoldenrodyellow;
    margin-top: 10px;
  }

  .nav {
    a {
      color: white;
      position: relative;
      font-weight: 600;
      transition: .4s;

      &.active:after {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 42%;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #FFF;
      }

      &:hover {
        color: #E7717D;
      }
    }
  }
}
