/* You can add global styles to this file, and also import other style files */

body, html {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Montserrat, sans-serif !important;
}

.parallax-window, .parallax-window > div {
  height: 100%;
  width: 100%;
  background: transparent;
}

.section {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: white;
}

.btn {
  &:focus, &:active, &:hover {
    box-shadow: none !important;
  }
}
