
// Carousel fade transition
.carousel-fade {

  .carousel-item {
    display: block;
    position: absolute;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    background-color: #AA5477;
    &.active {
      opacity: 1;
    }
  }
}


// Custom styles for image-slider
.carousel,
.carousel-inner,
.carousel-item {
  width: 100%;
  height: 100%;
}

.carousel-item {
  &:nth-child(1) {
    background: url('../../assets/images/0.jpg');
  }

  &:nth-child(2) {
    background: url('../../assets/images/1.jpg');
  }

  &:nth-child(3) {
    background: url('../../assets/images/0.jpg');
  }
}

.main-content {
  .summary {
    height: 250px;
    margin: 50px 200px;
    width: 600px;

    h2 {
      margin-bottom: 20px;
    }

    a {
      margin-top: 30px;
      background-color: white;
      border-radius: 0;
      border: 2px solid #777;
      color: #111;
      transition: .3s;

      &:hover {
        border-color: lightgreen;
        color: lightgreen;
      }
    }
  }

  .expertise {
    padding: 50px;
    width: 1100px;
    margin: 0 auto 40px auto;
    color: white;
    background: linear-gradient(#FABA94, #E7717D,#AA5477);
    background-attachment: fixed;

    h1 {
      text-align: center;
    }

    & > div {
      display: flex;
      height: 300px;
      align-items: center;
      justify-content: space-between;

      .icon, .descr {
        width: 50%;
      }

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;

        .fas {
          font-size: 100px;
          height: 170px;
          width: 180px;
          border-radius: 50%;
          border: 2px solid #FFF;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .data-statistics {
    padding: 50px 200px;
    background-color: #F3F3F3;
    text-align: center;

    & > div {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 40px;

      & > div {
        text-align: center;
        margin: 0 60px;

        .fas {
          font-size: 70px;
          color: #777;
        }
      }
    }
  }

  .tour-packages {
    padding: 50px 0;
    width: 1100px;
    margin: auto;

    h1 {
      text-align: center;
    }

    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .img {
        background: url('../../assets/images/0.jpg');
        background-attachment: fixed;
        background-position: center;
        background-size: contain;
        border-radius: 20px;
        min-width: 350px;
        height: 350px;
        margin: 50px;
      }
    }
  }

  .expertise2 {
    height: 800px;
    margin: 50px 200px;
    background: url('../../assets/images/0.jpg');
    background-attachment: fixed;
    text-align: center;

    h1 {
      color: white;
      padding-top: 20px;
    }
  }
}
