<div data-ride="carousel" data-interval="3000" class="carousel carousel-fade" id="carousel-example-captions">
  <ol class="carousel-indicators">
    <li class="active" data-slide-to="0" data-target="#carousel-example-captions"></li>
    <li data-slide-to="1" data-target="#carousel-example-captions" class=""></li>
    <li data-slide-to="2" data-target="#carousel-example-captions" class=""></li>
  </ol>
  <div role="listbox" class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="carousel-control-prev" href="#carousel-example-captions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-captions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="main-content">
  <div class="summary component">
    <h1 class="text-uppercase my-5 pt-3">We are TravelSoul</h1>
    Lorem ipsum dolor sit amet, oratio albucius vel te, tritani lobortis salutatus nec ex, munere mandamus in per. Eam eu diam doming, vel congue populo ex, mel ut prompta quaestio. Porro quidam causae has ad, decore nonumy sensibus est ea. No mazim dicant interesset eum. Nihil blandit definiebas at nam, nam omnesque legendos interpretaris ad.
    <div><a class="btn btn-primary" routerLink="/about">Read More</a></div>
  </div>
  <div class="expertise component">
    <h1>Our Expertise</h1>
    <div>
      <div class="icon">
        <i class="fas fa-user-cog"></i>
      </div>
      <div class="descr text-left">
        <h2>Exceptional Service</h2>
        Lorem ipsum dolor sit amet, oratio albucius vel te, tritani lobortis salutatus nec ex, munere mandamus in per. Eam eu diam doming, vel congue populo ex, mel ut prompta quaestio. Porro quidam causae has ad, decore nonumy sensibus est ea. No mazim dicant interesset eum. Nihil blandit definiebas at nam, nam omnesque legendos interpretaris ad.
      </div>
    </div>
    <div>
      <div class="descr text-right">
        <h2>Expert Knowledge</h2>
        Lorem ipsum dolor sit amet, oratio albucius vel te, tritani lobortis salutatus nec ex, munere mandamus in per. Eam eu diam doming, vel congue populo ex, mel ut prompta quaestio. Porro quidam causae has ad, decore nonumy sensibus est ea. No mazim dicant interesset eum. Nihil blandit definiebas at nam, nam omnesque legendos interpretaris ad.
      </div>
      <div class="icon">
        <i class="fas fa-globe"></i>
      </div>
    </div>
    <div>
      <div class="icon">
        <i class="fas fa-american-sign-language-interpreting"></i>
      </div>
      <div class="descr text-left">
        <h2>100% Tailor-made</h2>
        Lorem ipsum dolor sit amet, oratio albucius vel te, tritani lobortis salutatus nec ex, munere mandamus in per. Eam eu diam doming, vel congue populo ex, mel ut prompta quaestio. Porro quidam causae has ad, decore nonumy sensibus est ea. No mazim dicant interesset eum. Nihil blandit definiebas at nam, nam omnesque legendos interpretaris ad.
      </div>
    </div>
  </div>
  <div class="data-statistics">
    <h1>Statistics</h1>
    <div>
      <div>
        <i class="fas fa-globe"></i>
        <h2>322</h2>
        <p>Countries</p>
      </div>
      <div>
        <i class="fas fa-globe"></i>
        <h2>322</h2>
        <p>Countries</p>
      </div>
      <div>
        <i class="fas fa-globe"></i>
        <h2>322</h2>
        <p>Countries</p>
      </div>
      <div>
        <i class="fas fa-globe"></i>
        <h2>322</h2>
        <p>Countries</p>
      </div>
    </div>
  </div>
  <div class="tour-packages">
    <h1>Flavours of India</h1>
    <div>
      <div class="img">
      </div>
      <div class="decsr">
        <h2>North Flavours</h2>
        <i class="fas fa-quote-left"></i>
        <p>
          Lorem ipsum dolor sit amet, oratio albucius vel te, tritani lobortis salutatus nec ex, munere mandamus in per. Eam eu diam doming, vel congue populo ex, mel ut prompta quaestio. Porro quidam causae has ad, decore nonumy sensibus est ea. No mazim dicant interesset eum. Nihil blandit definiebas at nam, nam omnesque legendos interpretaris ad.
        </p>
        <div class="text-right mr-5"><a class="btn btn-primary" routerLink="">Explore<i class="fas fa-arrow-right"></i></a></div>
      </div>
    </div>
    <div>
      <div class="decsr">
        <h2>West Flavours</h2>
        <i class="fas fa-quote-left"></i>
        <p>
          Lorem ipsum dolor sit amet, oratio albucius vel te, tritani lobortis salutatus nec ex, munere mandamus in per. Eam eu diam doming, vel congue populo ex, mel ut prompta quaestio. Porro quidam causae has ad, decore nonumy sensibus est ea. No mazim dicant interesset eum. Nihil blandit definiebas at nam, nam omnesque legendos interpretaris ad.
        </p>
        <div class="text-right mr-5"><a class="btn btn-primary" routerLink="">Explore<i class="fas fa-arrow-right"></i></a></div>
      </div>
      <div class="img">
      </div>
    </div>
    <div>
      <div class="img">
      </div>
      <div class="decsr">
        <h2>South Flavours</h2>
        <i class="fas fa-quote-left"></i>
        <p>
          Lorem ipsum dolor sit amet, oratio albucius vel te, tritani lobortis salutatus nec ex, munere mandamus in per. Eam eu diam doming, vel congue populo ex, mel ut prompta quaestio. Porro quidam causae has ad, decore nonumy sensibus est ea. No mazim dicant interesset eum. Nihil blandit definiebas at nam, nam omnesque legendos interpretaris ad.
        </p>
        <div class="text-right mr-5"><a class="btn btn-primary" routerLink="">Explore<i class="fas fa-arrow-right"></i></a></div>
      </div>
    </div>
    <div>
      <div class="decsr">
        <h2>East Flavours</h2>
        <i class="fas fa-quote-left"></i>
        <p>
          Lorem ipsum dolor sit amet, oratio albucius vel te, tritani lobortis salutatus nec ex, munere mandamus in per. Eam eu diam doming, vel congue populo ex, mel ut prompta quaestio. Porro quidam causae has ad, decore nonumy sensibus est ea. No mazim dicant interesset eum. Nihil blandit definiebas at nam, nam omnesque legendos interpretaris ad.
        </p>
        <div class="text-right mr-5"><a class="btn btn-primary" routerLink="">Explore<i class="fas fa-arrow-right"></i></a></div>
      </div>
      <div class="img">
      </div>
    </div>
  </div>
</div>
